.wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    font-family: 'Fira Sans', sans-serif;
    background-color: #999999;
}

.friends-popup {
    width: 620px;
    height: 490px;
    border-radius: 10px;
    overflow: hidden;
}

.friends-popup__top {
    position: relative;
    height: 45px;
    background-color: #ff8663;
}
.friends-popup__top-title {
    color: #fff;
    font-size: 16px;
    margin-left: 14px;
    line-height: 45px;
}

.friends-popup__top .glyphicon-remove {
    position: absolute;
    color: #fff;
    right: 10px;
    top: 10px;
    font-size: 20px;
}
.friends-popup__search {
    height: 45px;
    background-color: #f0f0f0;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.search-block {
    position: relative;
    width:285px;
    height: 26px;
    background-color: #fff;
    border-radius: 13px;
    box-sizing: border-box;
    padding: 3px;
}
.search-block__left {
    float:left;
}
.search-block__right {
    float:right;
}
.glyphicon-search {
    position: absolute;
    color:#9f9f9f;
    top: 7px;
    left: 7px;
    font-size: 16px;
}
.search-input {
    border: none;
    width: 245px;
    margin-left: 30px;
    line-height: 18px;
    font-weight: 300;
    outline: none;
}
.friends-popup__friends {
    background-color: #fff;
}
.friends-popup__left, .friends-popup__right {
    height: 355px;
    padding: 14px;

}
.friends-popup__left {
    position: relative;
    width: 50%;
    float:left;
}
.friends-popup__right {
    position: relative;
    width: 50%;
    float: right;
}
.friends-popup__bottom {
    height: 45px;
    background-color: #f0f0f0;
    position: relative;
}
.friends-title {
    width:100%;
    border-bottom: 1px solid #f0f0f0;
}
.frinds-title__text {
    color: #4f4f4f;
    font-size: 12px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
}
.scroll-friends {
    height: 100%;
    overflow-y: scroll;
}
.friends {
    list-style: none;

}
ul {
    padding: 0;
}
.friend {
    position: relative;
}
.friend:hover {
    background-color: #f0f0f0;
}
.friend-img {
    width:46px;
    height: 46px;
    border-radius: 50%;
    overflow:hidden;
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
}
.friend-name {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 5px;
}
.friend-name__text {
    line-height: 50px;
}
.glyphicon-plus, .glyphicon-remove {
    position: absolute;
    top:20px;
    right: 10px;
    color: #999999;
    font-size: 18px;
}

.btn-save {
    position: absolute;
    width: 86px;
    height: 30px;
    background-color: #ff8663;
    color: #fff;
    border: none;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    font-weight: 300;
}